<div class="container-center">
    <h4><a href="/dashboard">Dashboard</a></h4>

<form class="login-form">
    <div class="form-outline mb-4">
    <label class="form-label" for="title">Username</label>
    <input type="text" id="title" class="form-control" />
    </div>
    <div class="form-outline mb-4">
    <label class="form-label" for="body">Password</label>
    <input type="password" id="body" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">Create Post</button>
</form>
</div>

<script src="/js/new.js"></script>