<div class="container-center">
    <h4>Create New Post</h4>

    <form id="newPost" class="newPost">
        <label for="title">
            Title:
        </label>
        <br />
        <input id="post_title" name="post_title" rows="1" cols="auto">
        {{post_title}}
        </input>
        <br />
        <label for="Content">
            Content:
        </label>
        <br />
        <textarea id="post_body" name="post_body" rows="5" cols="120">
        {{post_body}}
        </textarea>
        <br />
        <button type="submit" value="Submit">
            Submit
        </button>
    </form>
</div>

<script src="/js/new.js"></script>