<div class="container-sm text-center d-flex flex-column align-items-center justify-content-center">
    <h2>Sign Up!</h2>
    <form class="signup-form" type="submit">
        <div class="form-outline mb-4">
            <label class="form-label" for="username">Username</label>
            <input type="text" id="username" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="password">Password</label>
            <input type="password" id="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign Up!</button>
    </form>
</div>

<script src="/js/signup.js"></script>